
__pycache__/GraphClass.cpython-310.pyc
__pycache__/UICode.cpython-310.pyc
graph.png
MST.png
algo.png
back.jpg
bkbutton.png
cluster.png
input100.txt
input10_help.txt
input20.txt
input30.txt
input40.txt
input50.txt
input60.txt
input70.txt
input80.txt
input90.txt
